USE [SCADA_Bia]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 17-Jan-26 6:05:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[QuyenHan] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [QuyenHan], [HoTen]) VALUES (N'admin', N'123456', N'admin', N'ADMIN')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [QuyenHan], [HoTen]) VALUES (N'user1', N'123', N'operator', N'Khánh')
GO
